/*interacciones.css*/
.variantes-container {
  margin: 10px 0;
}

.btn-variante {
  background-color: #f5e1c1;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 8px;
  margin: 6px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.2s ease;
}

.btn-variante.activo,
.btn-variante:hover {
  background-color: #4e3418;
  color: white;
  border-color: #a66b2f;
}

.btn-variante:hover{
  background-color: #a66b2f;
  color: white;
  border-color: #4e3418;
}

.cantidad-container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

.cantidad-container button {
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
  user-select: none;
}

.cantidad-container input.input-cantidad {
  width: 50px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-agregar-carrito {
  background-color: #6b5239;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-agregar-carrito:hover {
  background-color: #a66b2f;
}
